version: '3.8'
services:
    # nginx server
    nginx:
        image: nginx:alpine
        container_name: laravel-nginx
        restart: unless-stopped
        ports:
            - 8000:80
            - 443:443
        volumes:
            - ./:/var/www/html:cached
            - ./docker/nginx:/etc/nginx/conf.d
            - ./docker/nginx/ssl:/etc/nginx/conf.d/ssl
        depends_on:
            - laravel-app
        networks:
            - laravel-network

    # laravel app
    laravel-app:
        build:
            args:
                user: zaman
                uid: 1000
            context: ./docker/php
            dockerfile: Dockerfile
        container_name: laravel-app
        restart: unless-stopped
        volumes:
            - ./:/var/www/html:ro # ro:Read only
            - ./docker/php/php-fpm.ini:/usr/local/etc/php/conf.d/custom.ini
            - ~/.ssh:/root/.ssh
        depends_on:
            - mysql-database
            - redis-database
        networks:
            - laravel-network

    # mysql database
    mysql-database:
        image: mysql
        container_name: laravel-mysql
        command: --default-authentication-plugin=mysql_native_password
        restart: unless-stopped
        ports:
            - 3306:3306
        volumes:
            - mysql-data:/var/lib/mysql
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: root
        networks:
            - laravel-network

    # redis database
    redis-database:
        image: redis:alpine
        container_name: laravel-redis
        restart: unless-stopped
        ports:
            - 6379:6379
        volumes:
            - redis-data:/data
        networks:
            - laravel-network

    # phpmyadmin server
    phpmyadmin:
        image: phpmyadmin:latest
        ports:
            - 8001:80
        restart: unless-stopped
        depends_on:
            - mysql-database
        container_name: laravel-phpmyadmin
        environment:
            - PMA_ARBITRARY=1
        networks:
            - laravel-network
networks:
    laravel-network:
        driver: bridge

volumes:
    mysql-data:
        driver: local
    redis-data:
        driver: local
