@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* ===== Scrollbar CSS ===== */
/* Firefox */
body {
    scrollbar-width: auto;
    scrollbar-color: #c183fa #ffffff;
}
/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: #ffffff;
}
body::-webkit-scrollbar-thumb {
    background-color: #c183fa;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
.modal-scroll{
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #c183fa #ffffff;
}
/* Chrome, Edge, and Safari */
.modal-scroll::-webkit-scrollbar {
    width: 0;
}
.on-hover-show{
    opacity: 0;
    transition: .5s;
}
.on-parent-hover-show:hover .on-hover-show{
    opacity: 1;
}
.on-hover-show:hover{
    opacity: 1;
}
